@import "reset.css";
.main-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-front {
  position: absolute;
  top: 20%;
  left: 15%;
}
.card-back {
  position: absolute;
  top: 50%;
  left: 20%;
}
.card-front-main-img {
  position: relative;
}
.card-front-cardnumber {
  position: absolute;
  top: 52%;
  color: white;
  left: 10%;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 5px;
}
.card-front-subbox {
  position: absolute;
  bottom: 20%;
  left: 10%;
  display: flex;
  color: white;
}
.card-front-date {
  margin-left: 220px;
}
.card-front-mark {
  position: absolute;
  top: 10%;
  left: 10%;
}
.card-back-main-img {
  position: relative;
}
.card-back-cardnumber {
  position: absolute;
  top: 45.5%;
  right: 13%;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}
.sub-box {
  position: absolute;
  right: 15%;
}
.sub-box-cardname-input {
  margin-bottom: 35px;
  height: 30px;
  margin-top: 10px;
  width: 20vw;
  border-radius: 5px;
}
.sub-box-cardname-input2 {
  margin-bottom: 45px;
  height: 30px;
  margin-top: 10px;
  width: 20vw;
  border-radius: 5px;
}
.sub-box-exp-text {
  width: 71px;
  height: 35px;
  border-radius: 5px;
}
.sub-box-exp-text2 {
  height: 35px;
  border-radius: 5px;
}
.sub-box-expdate-cvc {
  display: flex;
  margin-bottom: 10px;
}
.submit {
  margin-top: 35px;
  width: 21vw;
  height: 5vh;
  color: white;
  background-color: purple;
  border-radius: 5px;
}
.sub-box-expdate-cvc:first-child p {
  margin-right: 35px;
}
input::placeholder {
  font-weight: 600;
  opacity: 0.4;
  padding-left: 10px;
}
